body {
    background-color: lightgray;
}

@media screen and (max-width: 767px) {
    #desktop, #tablet {
        display: none;
    }
    
    #phone {
        display: block;

        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            color: white;
        }
        
        li {
            background-color: black;
            color: white;
            padding: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    #phone p, header {
        text-align: center;
    }

    hr {
        border: 1px solid black;
    }
}


@media screen and (min-width: 768px) {
    #desktop, #phone {
        display: none;
    }
    
    #tablet {
        display: block;

        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            color: white;
        }
        
        li {
            background-color: black;
            color: white;
            padding: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    #tablet p {
        text-align: center;
    }

    hr {
        border: 1px solid black;
    }
}

@media screen and (min-width:1024px) {
    #phone, #tablet {
        display: none;
    }
    
    #desktop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #desktop ul {
        display: flex;
        list-style: none;
        background-color: white;
    }
    
    #desktop li {
        border: 1px transparent black;
        border-radius: 8%;
        margin-right: 20px;
        background-color: black;
        color: white;
        padding: 0.5rem;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}