body {
    background-color: rgb(238, 238, 238);
    display: flex;
}


img {
    width: 15%;
    height: 300px
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
}

.second {
    width: 50%;
}